.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.projectPicture {
    position: relative;
}

.projectText {
    position: absolute;
    bottom: 32px;
    left: 32px;
    border: white;
    border-style: solid;
    padding: 4px;
    color: white;
    font-family: monospace;
}

* {
    font-family: monospace;
    background-color: black;
    color: white;
}